/* reset */
*{
    margin: 0;
    padding: 0;
}

/* klasy uzytkowe */
.flex{
    display: flex;
}

/* primary header */

#primary-header{
    align-items: center;
    background-color: darkolivegreen;
    position: sticky;
    top: 0;
    transition: transform 0.4s;
}

/* navbar (list + logo) */

/* hidding animation */

.nav-hidden{
    transform: translateY(-10rem);
}

#primary-nav{
    font-size: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-evenly;
    
}

#primary-nav a{
    text-decoration: none;
    color: rgb(3, 41, 3);
}

#primary-nav a:hover{
    text-decoration: none;
    color: rgb(177, 208, 177);
}

nav{
    padding: 1rem;
    flex-grow: 1;

}

#logo{
    width: 7rem;
    border-color: black;
    border-style: dotted;
    margin: .5rem;

}

/* mobile */

@media (max-width: 35em){
    #primary-header{
        background-color: white;
    }
    #logo-div{
        visibility: hidden;
    }
    #primary-nav{
        justify-content: flex-start;
        position: fixed;
        flex-direction: column;
        inset: 0 0 0 40%;
        background-color: darkolivegreen;
        padding: min(20vh, 10rem) 1rem;
        gap: 2em;
    }
   #content{
    visibility: hidden;
   }

    
}

#content{
       font-size: 5rem; 
       padding-top: 50px;
}