*{
    margin: 0;
    padding: 0;
}

/* desktop */

/* nav-bar */

header{
    display: flex;
    align-items: center;
    background-color: lightcoral;

    position: sticky;
    top: 0;

    transition: transform 0.4s;
}

#logo > img{
    height: 7rem;
}

nav{
    width: 100%;
}

nav > ul {
    display: flex;
    gap: 3rem;

    list-style: none;
    font-size: 2rem;
    color:rgb(229, 222, 178);
}

nav > ul > li{
    flex-grow: 1;
    text-align: center;
}

nav > ul > li > a{
    text-decoration: none;
    color:rgb(229, 222, 178);
}

.nav-hidden
{
    transform: translateY(-8rem);
    
}

button{
    display: none;
}

#content{
    margin-top: 2.5rem;
    font-size: 5rem;
}

/* mobile */

/* nav-bar */

@media (max-width: 30em){
    #content{
        background-color: rgb(82, 54, 19);
    }
    
    header{
        background-color: white;
    }

    nav{
        background-color: bisque;
    }
    
    nav > ul{
        flex-direction: column; 
        position: fixed;
        inset: 0 0 0 30%;
        background-color: rgb(240, 128, 128, 80%);
        padding-top: 7rem;

        transform: translateX(100%);
        transition: transform 0.4s;
    }

    nav >ul[data-visible="true"]
    {
        transform: translateX(0%);
    }

    nav > ul > li{
        border-style: solid;
        flex-grow: 0;
    }

    button{
        display: block;
        position: absolute;
        width: 3rem;
        background-color: green;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
        z-index: 9999;
    }
}