*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    align-items: center;
    background-color: lightcoral;

    position: sticky;
    top: 0;

    transition: transform 0.4s;
}

#logo > img{
    width: 7rem;
}

nav{
    width: 100%;
}

nav > ul {
    display: flex;
    gap: 3rem;

    list-style: none;
    font-size: 2rem;
    color:rgb(229, 222, 178);
}

nav > ul > li{
    flex-grow: 1;
    text-align: center;
}

nav > ul > li > a{
    text-decoration: none;
    color:rgb(229, 222, 178);
}

.nav-hidden
{
    transform: translateY(-10rem);
    
}

#content{
    margin-top: 2.5rem;
    font-size: 5rem;
}

